<div class="relative inline-flex">
    <button
        class="btn justify-between min-w-44 bg-white dark:bg-gray-800 border-gray-200 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600 text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-100"
        aria-label="Select date range"
        aria-haspopup="true"
        @onclick="ToggleDropdown"
        aria-expanded="@dropdownOpen">
        <span class="flex items-center">
            <span>@options[selected].Period</span>
        </span>
        <svg class="shrink-0 ml-1 fill-current text-gray-400 dark:text-gray-500" width="11" height="7" viewBox="0 0 11 7">
            <path d="M5.4 6.8L0 1.4 1.4 0l4 4 4-4 1.4 1.4z" />
        </svg>
    </button>
    @if (dropdownOpen)
    {
        <div class="z-10 absolute top-full left-0 w-full bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700/60 py-1.5 rounded-lg shadow-lg overflow-hidden mt-1">
            <div class="font-medium text-sm text-gray-600 dark:text-gray-300">
                @foreach (var option in options)
                {
                    <button
                        class="flex items-center w-full hover:bg-gray-50 dark:hover:bg-gray-700/20 py-1 px-3 cursor-pointer @(option.Id == selected ? "text-violet-500" : "")"
                        @onclick="() => SelectOption(option.Id)">
                        <svg class="shrink-0 mr-2 fill-current text-violet-500 @(option.Id != selected ? "invisible" : "")" width="12" height="9" viewBox="0 0 12 9">
                            <path d="M10.28.28L3.989 6.575 1.695 4.28A1 1 0 00.28 5.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28.28z" />
                        </svg>
                        <span>@option.Period</span>
                    </button>
                }
            </div>
        </div>
    }
</div>

@code {
    private bool dropdownOpen;
    private int selected = 2;

    private List<DropdownOption> options = new()
    {
        new() { Id = 0, Period = "Today" },
        new() { Id = 1, Period = "Last 7 Days" },
        new() { Id = 2, Period = "Last Month" },
        new() { Id = 3, Period = "Last 12 Months" },
        new() { Id = 4, Period = "All Time" }
    };

    private void ToggleDropdown()
    {
        dropdownOpen = !dropdownOpen;
    }

    private void SelectOption(int id)
    {
        selected = id;
        dropdownOpen = false;
    }

    private class DropdownOption
    {
        public int Id { get; set; }
        public string Period { get; set; } = "";
    }
}
