<div class="col-span-full sm:col-span-6 xl:col-span-4 bg-white dark:bg-gray-800 shadow-xs rounded-xl">
    <div class="flex flex-col h-full">
        <!-- Card top -->
        <div class="grow p-5">
            <div class="flex justify-between items-start">
                <!-- Image + name -->
                <header>
                    <div class="flex mb-2">
                        <a class="relative inline-flex items-start mr-5" href="@Item.Link">
                            <div class="absolute top-0 right-0 -mr-2 bg-white dark:bg-gray-700 rounded-full shadow-sm" aria-hidden="true">
                                <svg class="w-8 h-8 fill-current text-yellow-500" viewBox="0 0 32 32">
                                    <path d="M21 14.077a.75.75 0 01-.75-.75 1.5 1.5 0 00-1.5-1.5.75.75 0 110-1.5 1.5 1.5 0 001.5-1.5.75.75 0 111.5 0 1.5 1.5 0 001.5 1.5.75.75 0 010 1.5 1.5 1.5 0 00-1.5 1.5.75.75 0 01-.75.75zM14 24.077a1 1 0 01-1-1 4 4 0 00-4-4 1 1 0 110-2 4 4 0 004-4 1 1 0 012 0 4 4 0 004 4 1 1 0 010 2 4 4 0 00-4 4 1 1 0 01-1 1z" />
                                </svg>
                            </div>
                            <img class="rounded-full" src="@Item.Image" width="64" height="64" alt="@Item.Name" />
                        </a>
                        <div class="mt-1 pr-1">
                            <a class="inline-flex text-gray-800 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white" href="@Item.Link">
                                <h2 class="text-xl leading-snug justify-center font-semibold">@Item.Name</h2>
                            </a>
                            <div class="flex items-center"><span class="text-sm font-medium text-gray-400 dark:text-gray-500 -mt-0.5 mr-1">-&gt;</span> <span>@Item.Location</span></div>
                        </div>
                    </div>
                </header>
                <!-- Menu button -->
                <DropdownEditMenu Align="right" Class="relative inline-flex shrink-0">
                    <li>
                        <a class="font-medium text-sm text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-gray-200 flex py-1 px-3" href="#0">Option 1</a>
                    </li>
                    <li>
                        <a class="font-medium text-sm text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-gray-200 flex py-1 px-3" href="#0">Option 2</a>
                    </li>
                    <li>
                        <a class="font-medium text-sm text-red-500 hover:text-red-600 flex py-1 px-3" href="#0">Remove</a>
                    </li>
                </DropdownEditMenu>
            </div>
            <!-- Bio -->
            <div class="mt-2">
                <div class="text-sm">@Item.Content</div>
            </div>
        </div>
        <!-- Card footer -->
        <div class="border-t border-gray-100 dark:border-gray-700/60">
            <div class="flex divide-x divide-gray-100 dark:divide-gray-700/60">
                <a class="block flex-1 text-center text-sm text-violet-500 hover:text-violet-600 dark:hover:text-violet-400 font-medium px-3 py-4" href="/messages">
                    <div class="flex items-center justify-center">
                        <svg class="fill-current shrink-0 mr-2" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M8 0C3.6 0 0 3.1 0 7s3.6 7 8 7h.6l5.4 2v-4.4c1.2-1.2 2-2.8 2-4.6 0-3.9-3.6-7-8-7zm4 10.8v2.3L8.9 12H8c-3.3 0-6-2.2-6-5s2.7-5 6-5 6 2.2 6 5c0 2.2-2 3.8-2 3.8z" />
                        </svg>
                        <span>Send Email</span>
                    </div>
                </a>
                <a class="block flex-1 text-center text-sm text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200 font-medium px-3 py-4 group" href="/settings/account">
                    <div class="flex items-center justify-center">
                        <svg class="fill-current text-gray-400 dark:text-gray-600 group-hover:text-gray-500 shrink-0 mr-2" width="16" height="16" viewBox="0 0 16 16">
                            <path d="M11.7.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM4.6 14H2v-2.6l6-6L10.6 8l-6 6zM12 6.6L9.4 4 11 2.4 13.6 5 12 6.6z" />
                        </svg>
                        <span>Edit Profile</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public UserItem Item { get; set; } = new();

    public class UserItem
    {
        public int Id { get; set; }
        public string Name { get; set; } = "";
        public string Image { get; set; } = "";
        public string Link { get; set; } = "";
        public string Location { get; set; } = "";
        public string Content { get; set; } = "";
    }
}
