@using System.Reflection
@using AppBlueprint.UiKit.Models
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@inject List<NavLinkMetadata> Links
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <CascadingValue Value="Links">
        <Router AppAssembly="@typeof(Program).Assembly"
                AdditionalAssemblies="@AdditionalAssemblies">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AppBlueprint.UiKit.Components.Layout.Cruip.MainLayout)">
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            @RedirectToLogin()
                        }
                        else
                        {
                            <div class="d-flex justify-center align-center" style="height: 100vh;">
                                <MudText Typo="Typo.h6">You are not authorized to access this page.</MudText>
                            </div>
                        }
                    </NotAuthorized>
                    <Authorizing>
                        <div class="d-flex justify-center align-center" style="height: 100vh;">
                            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                        </div>
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <div class="d-flex justify-center align-center" style="height: 100vh;">
                    <MudText Typo="Typo.h6">Sorry, there's nothing here!</MudText>
                </div>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingAuthenticationState>

@code {
    private IEnumerable<Assembly> AdditionalAssemblies { get; } = new[] 
    { 
        typeof(UiKit._Imports).Assembly
    };

    protected override void OnInitialized()
    {
        Console.WriteLine($"[Routes] Navigation links injected: {Links?.Count ?? 0}");
    }

    private RenderFragment RedirectToLogin() => _ =>
    {
        NavigationManager.NavigateTo("/login", forceLoad: true);
    };
}

