@using AppBlueprint.UiKit.Components.Analytics.Cruip.AnalyticsCard11Components
@inject ThemeService ThemeService
@implements IDisposable

<div class="col-span-full bg-white dark:bg-gray-800 shadow-xs rounded-xl">
    <header class="px-5 py-4 border-b border-gray-100 dark:border-gray-700/60">
        <h2 class="font-semibold text-gray-800 dark:text-gray-100">@_headerTitle</h2>
    </header>
    <div class="p-3">

        <!-- Table -->
        <div class="overflow-x-auto">
            <table class="table-auto w-full dark:text-gray-300">
                <!-- Table header -->
                <thead class="text-xs uppercase text-gray-400 dark:text-gray-500 bg-gray-50 dark:bg-gray-700/50 rounded-xs">
                    <tr>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Product</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Created by</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Category</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">Total impressions</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">Top country</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-center">CR</div>
                        </th>
                        <th class="p-2 whitespace-nowrap">
                            <div class="font-semibold text-left">Value</div>
                        </th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody class="text-sm divide-y divide-gray-100 dark:divide-gray-700/60">
                    <ProductTableRow 
                        ProductName="Form Builder CP"
                        IconColorClass="@ThemeService.GetPrimaryClass("bg", "500")"
                        IconTextColor="@(ThemeService.GetPrimaryClass("text", "50"))"
                        IconSvgPath="M24.446 19.335a2.5 2.5 0 00-3.522 3.194c-.845.63-1.87.97-2.924.971a4.979 4.979 0 01-1.113-.135 4.436 4.436 0 01-1.343 1.682 6.91 6.91 0 006.9-1.165 2.5 2.5 0 002-4.547h.002zM20.431 11.938a2.5 2.5 0 10-.4 2.014 5.027 5.027 0 012.723 3.078c.148-.018.297-.028.446-.03a4.5 4.5 0 011.7.334 7.023 7.023 0 00-4.469-5.396zM14.969 20.25a2.49 2.49 0 00-1.932-1.234A4.624 4.624 0 0113 18.5a4.97 4.97 0 011.348-3.391 4.456 4.456 0 01-.788-2.016A6.989 6.989 0 0011 18.5c.003.391.04.781.11 1.166a2.5 2.5 0 103.859.584z"
                        CreatorAvatarUrls="@(new List<string> { "_content/AppBlueprint.UiKit/images/user-28-01.jpg", "_content/AppBlueprint.UiKit/images/user-28-02.jpg", "_content/AppBlueprint.UiKit/images/user-28-03.jpg" })"
                        Category="Subscription"
                        Impressions="20,929"
                        TopCountry="US"
                        ConversionRate="27.4%"
                        Value="$12,499.77" />

                    <ProductTableRow 
                        ProductName="Machine Learning A-Z"
                        IconColorClass="@ThemeService.GetAccentClass("bg", "500")"
                        IconTextColor="@(ThemeService.GetAccentClass("text", "50"))"
                        IconSvgPath="M11 22.012a1 1 0 01-.707-1.707l4.5-4.5a1 1 0 011.414 0l3.293 3.293 4.793-4.793a1 1 0 111.414 1.414l-5.5 5.5a1 1 0 01-1.414 0L15.5 17.926l-3.793 3.793a1 1 0 01-.707.293z"
                        CreatorAvatarUrls="@(new List<string> { "_content/AppBlueprint.UiKit/images/user-28-07.jpg", "_content/AppBlueprint.UiKit/images/user-28-04.jpg", "_content/AppBlueprint.UiKit/images/user-28-11.jpg" })"
                        Category="Subscription"
                        Impressions="17,944"
                        TopCountry="GB"
                        ConversionRate="22.6%"
                        Value="$4,227.09" />

                    <ProductTableRow 
                        ProductName="2021 Web Bootcamp"
                        IconColorClass="@ThemeService.GetPrimaryClass("bg", "500")"
                        IconTextColor="@(ThemeService.GetPrimaryClass("text", "50"))"
                        IconSvgPath="M24.446 19.335a2.5 2.5 0 00-3.522 3.194c-.845.63-1.87.97-2.924.971a4.979 4.979 0 01-1.113-.135 4.436 4.436 0 01-1.343 1.682 6.91 6.91 0 006.9-1.165 2.5 2.5 0 002-4.547h.002zM20.431 11.938a2.5 2.5 0 10-.4 2.014 5.027 5.027 0 012.723 3.078c.148-.018.297-.028.446-.03a4.5 4.5 0 011.7.334 7.023 7.023 0 00-4.469-5.396zM14.969 20.25a2.49 2.49 0 00-1.932-1.234A4.624 4.624 0 0113 18.5a4.97 4.97 0 011.348-3.391 4.456 4.456 0 01-.788-2.016A6.989 6.989 0 0011 18.5c.003.391.04.781.11 1.166a2.5 2.5 0 103.859.584z"
                        CreatorAvatarUrls="@(new List<string> { "_content/AppBlueprint.UiKit/images/user-28-05.jpg" })"
                        Category="Subscription"
                        Impressions="16,097"
                        TopCountry="FR"
                        ConversionRate="22.4%"
                        Value="$2,499.77" />

                    <ProductTableRow 
                        ProductName="Digital Marketing Course"
                        IconColorClass="@ThemeService.GetAccentClass("bg", "500")"
                        IconTextColor="@(ThemeService.GetAccentClass("text", "50"))"
                        IconSvgPath="M18 26a8 8 0 118-8 8.009 8.009 0 01-8 8zm0-14a6 6 0 100 12 6 6 0 000-12z"
                        CreatorAvatarUrls="@(new List<string> { "_content/AppBlueprint.UiKit/images/user-28-06.jpg", "_content/AppBlueprint.UiKit/images/user-28-11.jpg" })"
                        Category="Subscription"
                        Impressions="12,996"
                        TopCountry="IT"
                        ConversionRate="22.1%"
                        Value="$2,224.09" />

                    <ProductTableRow 
                        ProductName="Form Builder PRO"
                        IconColorClass="bg-red-500"
                        IconTextColor="text-red-50"
                        IconSvgPath="M13.05 24.363l-.707-.707a8 8 0 010-11.312l.707-.707 1.414 1.414-.707.707a6 6 0 000 8.484l.707.707-1.414 1.414zM22.95 24.363l-1.414-1.414.707-.707a6 6 0 000-8.484l-.707-.707 1.414-1.414.707.707a8 8 0 010 11.312l-.707.707z"
                        CreatorAvatarUrls="@(new List<string> { "_content/AppBlueprint.UiKit/images/user-28-09.jpg", "_content/AppBlueprint.UiKit/images/user-28-01.jpg" })"
                        Category="Subscription"
                        Impressions="7,097"
                        TopCountry="DE"
                        ConversionRate="17.4%"
                        Value="$1,949.72" />
                </tbody>
            </table>

        </div>
    </div>
</div>

@code {
    private string _headerTitle = "Top Products";

    protected override void OnInitialized()
    {
        _headerTitle = ThemeService.GetLabelByType(
            saasLabel: "Top Products",
            datingLabel: "Top Matches",
            crmLabel: "Top Deals",
            ecommerceLabel: "Bestsellers"
        );

        ThemeService.OnThemeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}
