@page "/cost-management"
@using MudBlazor

<PageTitle>Cost Management</PageTitle>

<div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-[96rem] mx-auto">

<h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-6">Cost Management</h1>

<MudTable T="Cost" Items="@_costs" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading"
          LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>App</MudTh>
        <MudTh>Expense</MudTh>
        <MudTh>Amount</MudTh>
    </HeaderContent>
    <RowTemplate>
        @foreach (var cost in _costs)
        {
            <MudTd DataLabel="App">@cost.App</MudTd>
            <MudTd DataLabel="Expense">@cost.Expense</MudTd>
            <MudTd DataLabel="Amount">@cost.Amount</MudTd>
        }
    </RowTemplate>
</MudTable>

</div>

@code {

    public class Cost
    {
        public int Id { get; set; }
        public string App { get; init; }
        public string Expense { get; init; }
        public double Amount { get; init; }
    }

    private readonly List<Cost> _costs = new();

    private bool _hidePosition;
    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _costs.Add(new Cost { Id = 1, App = "SaaS Factory Core", Expense = "Azure Blob Storage GB", Amount = 108.00 });
    }

}
